.searchicon {
  position: relative;
  width: 22px;
  height: 22px;
}
.container_inner{
  padding: 10px;
}
#input{
  border: none;
  outline: none;
}
.searchbox {
  border: 0;
  outline: none;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.searchbar {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  width: 417px;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 0 16.800048828125px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
  border: 0;
  outline: none;
}
.vuesaxlinearnotificationIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notificationChild {
  position: absolute;
  top: 1px;
  left: 15px;
  border-radius: 50%;
  background-color: var(--color-lightcoral-100);
  width: 6px;
  height: 6px;
}
.calendar2,
.messageQuestion,
.notification {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 96px;
  width: 24px;
  height: 24px;
}
.calendar2,
.messageQuestion {
  left: 48px;
}
.calendar2 {
  left: 0;
}
.navicons {
  position: relative;
  width: 120px;
  height: 24px;
}
.animaAgrawal,
.upIndia {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray);
  text-align: right;
}
.upIndia {
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.userDetails {
  width: 113px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 3px;
}
.profileimgIcon {
  position: relative;
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius:50%
}
.arrowDown,
.frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame {
  width: 173px;
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
}
.arrowDown {
  position: relative;
  width: 18px;
  height: 18px;
}
.profileContainer {
  width: 201px;
  height: 39px;
  justify-content: flex-end;
  gap: var(--gap-3xs);
}
.navbar,
.profileContainer,
.rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightNav {
  justify-content: flex-start;
  gap: 60px;
}
.navbar {
  margin-top: 14px;
  align-self: stretch;
  border-bottom: 1px solid #e4e4e4;
  height: fit-content;
  padding: 21px 29px;
  justify-content: space-between;
}
.mobileApp {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.editbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.editbtn,
.squareUpIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.shareLinkIcon,
.sharebtn {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 16px;
  height: 16px;
}
.sharebtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 42px;
  width: 30px;
  height: 30px;
}
.btns {
  position: relative;
  width: 72px;
  height: 30px;
}
.projectDetails {
  width: 344px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.vuesaxlinearaddSquareIcon {
  position: relative;
  width: 18px;
  height: 18px;
}
.invite {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-blueviolet-100);
  text-align: left;
}
.vuesaxlinearaddSquareParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 67px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.frameChild,
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.frameItem {
  left: 30px;
}
.frameInner {
  left: 60px;
  object-fit: cover;
}
.ellipseDiv,
.ellipseIcon,
.frameInner {
  position: absolute;
  top: 0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
.ellipseIcon {
  left: 90px;
  object-fit: cover;
}
.ellipseDiv {
  left: 120px;
  background-color: #f4d7da;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.div {
  position: absolute;
  top: 10px;
  left: 129px;
  text-transform: capitalize;
  font-weight: 500;
}
.ellipseParent {
  position: relative;
  width: 158px;
  height: 38px;
}
.header,
.peopleonline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.peopleonline {
  width: 237px;
  font-size: 15px;
  color: #d25b68;
}
.header {
  align-self: stretch;
  padding: 22px 47px;
}
.vuesaxlinearfilterIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.filter {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: left;
}
.filterBtn,
.frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame1 {
  width: 65px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-3xs);
}
.filterBtn {
  cursor: pointer;
  border: 1px solid var(--color-slategray);
  padding: var(--padding-2xs) 15px;
  background-color: transparent;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 122px;
  height: 40px;
  gap: var(--gap-7xs);
}
.calendarIcon {
  position: relative;
  width: 16.02px;
  height: 16.21px;
}
.dateBtn,
.filtersContainer,
.frame2,
.shareBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame2 {
  width: 73px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  gap: var(--gap-3xs);
}
.dateBtn,
.filtersContainer,
.shareBtn {
  height: 40px;
}
.dateBtn {
  cursor: pointer;
  border: 1px solid var(--color-slategray);
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-2xs)
    15.46612548828125px;
  background-color: transparent;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 122px;
  align-items: flex-start;
  gap: var(--gap-8xs);
  display: flex;
  align-items: center;
}
.filtersContainer,
.shareBtn {
  align-items: center;
}
.filtersContainer {
  width: 256px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 12px;
}
.shareBtn {
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid var(--color-slategray);
  padding: var(--padding-2xs) var(--padding-xs);
  background-color: transparent;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 97px;
  gap: 9px;
}
.otherOptionsChild {
  position: relative;
  width: 1px;
  height: 28px;
}
.vuesaxlinearmenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 62px;
  width: 21px;
  height: 21px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-blueviolet-100);
  width: 40px;
  height: 40px;
}
.rectangleParent,
.vuesaxlinearpauseIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.frame3 {
  position: relative;
  width: 83px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.options,
.otherOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.otherOptions {
  width: 220px;
  height: 40px;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.options {
  align-self: stretch;
  padding: 18px 53px;
  justify-content: space-between;
}
.toDo {
  position: absolute;
  top: 1px;
  left: 16px;
  font-weight: 500;
}
.headerChild {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blueviolet-100);
  width: 8px;
  height: 8px;
}
.addbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 284px;
  width: 24px;
  height: 24px;
}
.cardCount {
  position: absolute;
  top: 1px;
  left: 73px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.header1 {
  align-self: stretch;
  position: relative;
  height: 19px;
}

.cardCount1,
.todoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoContainer {
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-100);
  padding: var(--padding-xl);
  justify-content: center;
  gap: var(--gap-4xl);
}
.cardCount1 {
  position: absolute;
  top: 0;
  left: 123px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 20px;
  height: 20px;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.headerItem {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-orange);
  width: 8px;
  height: 8px;
}
.header2 {
  position: relative;
  width: 314px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
}
.unsplashmicqqgydq6wIcon {
  position: absolute;
  top: 76px;
  left: 20px;
  border-radius: var(--br-5xs);
  width: 281.68px;
  height: 110px;
  object-fit: cover;
}
.vuesaxlinearfolder2Icon,
.vuesaxoutlinemessageIcon {
  position: absolute;
  top: 0;
  left: 112px;
  width: 16px;
  height: 16px;
}
.vuesaxoutlinemessageIcon {
  left: 0;
}
.comments,
.files {
  position: absolute;
  top: 1px;
  left: 21px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: left;
}
.files {
  left: 133px;
}
.vuesaxlinearfolder2Parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4px;
  left: 100px;
  width: 174px;
  height: 16px;
}
.peopleOnprogressChild,
.peopleOnprogressInner,
.peopleOnprogressItem {
  position: absolute;
  top: 0;
  left: 39px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.peopleOnprogressInner,
.peopleOnprogressItem {
  left: 19px;
  width: 25px;
}
.peopleOnprogressInner {
  left: 0;
  width: 24px;
}
.peopleOnprogress {
  position: absolute;
  top: 214px;
  left: 20px;
  width: 274px;
  height: 24px;
}
.button,
.onboardingIllustrations {
  margin: 20px;
  position: absolute;
  top: 47px;
  left: 20px;
  font-weight: 600;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 19px;
  left: 278px;
  font-size: var(--font-size-base);
  letter-spacing: -0.07em;
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
}
.low {
  position: relative;
  font-weight: 500;
}
.priorityLow {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--color-burlywood);
  width: 36px;
  height: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--color-peru);
}
.caradOnboarding {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 314px;
  height: 258px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
}
.onprogressContainer {
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xl);
}
.done {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 500;
}
.headerInner {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-cornflowerblue);
  width: 8px;
  height: 8px;
}
.cardCount2 {
  position: absolute;
  top: 0;
  left: 71px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.header3 {
  position: relative;
  width: 314px;
  height: 19px;
}
.cardMobileappdesignChild,
.imgContainerIcon {
  position: absolute;
  top: 76px;
  left: 20px;
  width: 274px;
  height: 180px;
}
.cardMobileappdesignChild {
  border-radius: var(--br-5xs);
  background-color: #c4c4c4;
}
.imgContainerIcon {
  object-fit: cover;
}
.frameIcon {
  position: relative;
  width: 44px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.comments1 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: left;
}
.frame4 {
  width: 98px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-8xs);
}
.frame4,
.frame5,
.frameParent {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame5 {
  width: 62px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-8xs);
}
.frameParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 174px;
  gap: var(--gap-sm);
}
.peopleMobileappd,
.statusCompleted {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}
.peopleMobileappd {
  margin: 20px;
  top: 284px;
  width: 274px;
  height: 24px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 56px;
}
.statusCompleted {
  top: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkseagreen);
  width: 76px;
  height: 23px;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--color-mediumseagreen);
}
.cardMobileappdesign {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 314px;
  height: 328px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
}
.doneContainer {
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xl);
}
.cardContainers,
.currproject {
  align-self: stretch;
  display: flex;
}
.cardContainers {
  height: 640px;
  flex-direction: row;
  padding: 0 46px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-base);
  padding-top: 25px;
}
.currproject {
  margin-top: 15px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.desktop,
.mainWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainWrap {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
}
.desktop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  flex-direction: row;
  gap: 2px;
  text-align: left;
  font-size: 46px;
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.menu{
  position: absolute;
  top: 30px;
  left: 45px;
  }
@media screen and (max-width: 1180px){
  .cardContainers{
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: center;
  }
}
@media screen and (max-width: 1000px){
  .searchbar{
    width: 350px;
  }
}
@media screen and (max-width: 900px){
  .menu{
    left:25px;
  }
  .searchbar{
    width: 300px;
  }
}
@media screen and (max-width: 800px){
  .navbar {
    flex-direction: column;
    gap:10px;
    margin-top: 50px;
  }
  .searchbar{
    width: 350px;
  }
  .menu{
    top: 20px;
    left:45px;
  }
}
@media screen and (max-width: 600px){
  .header {
    flex-direction: column;
    gap:10px;
  }
  .navbar {
    margin-top: 90px;
  }
  .menu{
    left:20px;
  }
}
@media screen and (max-width: 480px){
  
  .options {
    flex-direction: column;
    gap: 10px;
  }
  .navbar {
    margin-top: 140px;
  }
  .searchbar{
    width: 250px;
  }
}
@media screen and (max-width: 420px){
  .menu{
    position: absolute;
    top: -20px;
    left:50px;
  }
  .mainWrap{
    scale: 0.9;
  }
  .rightNav {
    justify-content: flex-start;
    gap: 35px;
  }
  .searchbar{
    margin-left: 40px;
  }
  .navbar {
    margin-top: 50px;
  }
}
