.peopleBrainstormingChild {
  position: relative;
  width: 63px;
  height: 24px;
}
.vuesaxoutlinemessageIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.comments {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: left;
}
.frame,
.frame1 {
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-8xs);
}
.frame {
  width: 98px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame1 {
  width: 56px;
}
.frame1,
.frameParent,
.peopleBrainstorming {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 168px;
  height: 16px;
  gap: var(--gap-sm);
}
.peopleBrainstorming {
  position: absolute;
  top: 133px;
  left: 20px;
  width: 274px;
  height: 24px;
  gap: var(--gap-24xl);
}
.brainstorming {
  position: absolute;
  top: 47px;
  left: 20px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.brainstormingBringsTeam,
.button {
  position: absolute;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 19px;
  left: 278px;
  font-size: var(--font-size-base);
  letter-spacing: -0.07em;
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-gray);
  text-align: left;
}
.brainstormingBringsTeam {
  top: 75px;
  left: 20px;
  color: var(--color-slategray);
  width: 274px;
}
.low {
  position: relative;
  font-weight: 500;
}
.priorityLow {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--color-burlywood);
  width: 36px;
  height: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-peru);
}
.cardBrainstorming {
  margin: 20px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 314px;
  height: 177px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
